{% extends 'base.html' %}
{% block content %}
    <h1>Follower List</h1>

    {% for follower in followers %}
        {% if follower in user.followers %}
            <form action="{% url 'members:follow' insta_user.id %}" method="POST"
                  style="display: inline-block;">
                {% csrf_token %}
                {% if follower in user.followers %}
                    <p>{{ follower }}
                        <button class="btn btn-primary">unfollow</button>
                    </p>
                {% else %}
                    <p>{{ follower }}
                        <button class="btn btn-primary">follow</button>
                    </p>
                {% endif %}
            </form>
        {% endif %}
    {% endfor %}

{% endblock %}