{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'members:followers' insta_user.id %}">
        <button class="btn btn-primary">팔로워 보기</button>
    </a>
    <a href="{% url 'members:followings' insta_user.id %}">
        <button class="btn btn-primary">팔로잉 보기</button>
    </a>
    <ul>
        <li>{{ insta_user.username }}</li>
        <li>{{ insta_user.img_profile }}</li>
        <li>{{ insta_user.email }}</li>
        <li>{{ insta_user.introduce }}</li>
        <li>{{ insta_user.get_gender_display }}</li>
        <li>{{ insta_user.site }}</li>
    </ul>
{% endblock %}